/*********
HTML BODY
*********/

html {
  scroll-behavior: smooth;
  font-size: 100%; } /* In most browsers, this defaults to 16 pixels */
  @media screen and (min-width: 30em) {
    html { font-size: 1.125rem; } /* In most browsers, this defaults to 17.6 pixels @TODO onvert to % */
  }
  @media screen and (min-width: 90em) {
    html { font-size: 1.2rem; } /* In most browsers, this defaults to 19.2 pixels @TODO onvert to % */
  }
 
/* Set core body defaults and system font stack */
body {
  min-height: 100vh;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  line-height: 1.65;
  text-rendering: optimizeSpeed;
}