/*********
TYPO - SPACE
*********/

ul { list-style: square; }

blockquote,
figure {
  margin-top: -webkit-calc(1.67583rem + 0.1vw);
  margin-top: calc(1.67583rem + 0.1vw);
  margin-bottom: -webkit-calc(1.67583rem + 0.1vw);
  margin-bottom: calc(1.67583rem + 0.1vw);
}

small, .text_small {font-size: 0.707em;}

.base-size { font-size: 1rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.15;
}

h1,
.h1-size {
  margin-top: 0;
  font-size: 3.052rem;
}
h2,
.h2-size { font-size: 2.441rem; }
h3,
.h3-size { font-size: 1.953rem; }
h4,
.h4-size { font-size: 1.563rem; }
h5,
.h5-size,
h6,
.h6-size { font-size: 1.25rem; }
small,
.text_small { font-size: 0.8rem; }

@media screen and (min-width: 60em) {
  h2,
  .h2-size { font-size: 2.441rem; }
}